<p>
    Αγαπητέ χρήστη του ERMES,
</p>
<p>
    Σύμφωνα με τις προσομοιώσεις μας, για ορισμένα από τα αγροτεμάχιά σας πλησιάζει η βέλτιστη περίοδος εφαρμογής της πρώτης επιφανειακής αζωτούχας λίπανσης. Μπορείτε να ελέγξετε τα αγροτεμάχια που πλησιάζουν στη βέλτιστη περίοδο λίπανσης μέσω της τοπικής Γεωπύλης του ERMES (<a href="http://ermes.dlsi.uji.es/prototype/geoportal">http://ermes.dlsi.uji.es/prototype/geoportal</a>)
</p>
<br/>
<h3><b><u>Παρακάτω ακολουθεί η λίστα αγροτεμαχίων με ενεργές ειδοποιήσεις λίπανσης:</u></b></h3>
<p>
    <% parcels.forEach((parcel) => { %>
        <%=parcel%><br>
    <% }); %>
</p>