<p>
    Αγαπητέ χρήστη του ERMES,
</p>
<p>
    Σύμφωνα με τις προσομοιώσεις μας προέκυψε μία νέα προειδοποίηση για πιθανό κίνδυνο εμφάνισης Πυρικουλάριας την προσεχή περίοδο για κάποια από τα αγροτεμάχιά σας! Μπορείτε να ελέγξετε τα αγροτεμάχια με ενεργές προειδοποιήσεις στην τοπική Γεωπύλη του ERMES (<a href="http://ermes.dlsi.uji.es/prototype/geoportal">http://ermes.dlsi.uji.es/prototype/geoportal</a>)
</p>
<br/>
<h3><b><u>Παρακάτω ακολουθεί η λίστα αγροτεμαχίων με ενεργές προειδοποιήσεις:</u></b></h3>
<p>
    <% parcels.forEach((parcel) => { %>
        <%=parcel%><br>
    <% }); %>
</p>