<ul id="fertilizer">
    <li><b>Date:</b> <%= new Date(date).toDateString() %></li>
    <li><b>Product:</b> <%= product %></li>
    <li><b>Quantity:</b> <%= quantity %></li>
    <li><b>Nitrogen Content:</b> <%= nitrogenContent %></li>
    <li><b>Phosphorus Content:</b> <%= phosphorusContent %></li>
    <li><b>Potassium Content:</b> <%= potassiumContent %></li>
    <li><b>Uploading Date:</b> <%= new Date(uploadingDate).toDateString() %></li>
    <li class="display-none" id="fertilizerID"><%= _id %></li>
</ul>