<h3>A new alert has appeared on parcel <%= parcel.parcelId %>.</h3>
<br/>
<p>
<ul>
    <li>The danger that triggered the alert was: <%= alert.type%></li>
    <li>The actual value for this alert is: <%= alert.value%></li>
</ul>
</p>
<br/>
<p>
    Please connect to the Geoportal for more info. <a href="http://ermes.dlsi.uji.es/prototype/geoportal">http://ermes.dlsi.uji.es/prototype/geoportal</a>
    <br/>
    Don't want to receive this kind of <b>alerts</b> anymore? You can disable them through you profile settings in the SmartApp.<a href="http://ermes.dlsi.uji.es/prototype/smartapp">http://ermes.dlsi.uji.es/prototype/smartapp</a>
</p>